* {
  margin: 0;
  padding: 0;
}
body {
  background-color: lightgray;
}
#firstContainer {
  background-image: url(/images/image-hero-desktop.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
  display: inline-flex;
}
#logoOne {
  color: white;
  margin-left: 8vw;
  font-size: 25px;
}
#navBar {
  color: white;
  font-size: 20px;
  margin-left: 10vw;
}
li {
  display: inline-flex;
  margin-right: 15px;
}
ul {
  margin-left: 650px;
}
#secondContainer {
  justify-self: center;
  width: 800px;
  margin-left: 20%;
  padding: 0px;
  margin-top: -100px;
  position: absolute;
  background-color: dark;
  z-index: 1000;
}
#sectionOne {
  height: 150px;
  margin-bottom: 10px;
  padding: 5px;
  background-color: white;
}
#sectionOneBtns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
#sectionTwo {
  margin-bottom: 10px;
  padding: 20px;
  justify-content: center;
  background-color: white;
  height: 100px;
  padding-bottom: 2px;
}
#sectionTwo p {
  border-color: 1px solid;
  width: 100%;
}
#sectionOne h2 {
  text-align: center;
  padding-top: 20px;
}
#sectionOne p {
  text-align: center;
  padding-top: 10px;
}
#sectionOne button {
  margin-left: 10px;
  margin-right: 10px;
}
.verticalLine {
  background-color: gray;
  height: 50px;
  margin-top: 5px;
  width: 1px;
}
#calculations {
  display: flex;
  justify-content: space-between;
  width: 95%;
}

#lineContainer {
  height: 10px;
  margin-top: 15px;
  background-color: gray;
  border-radius: 10px;
}
#loadingLine {
  height: 10px;
  background-color: hsl(176, 50%, 47%);
  border-radius: 10px;
  width: 75%;
}
#sectionThree {
  height: auto;
  margin-bottom: 10px;
  padding: 20px;
  background-color: white;
}
#mastercraftLogo {
  margin-left: 350px;
  margin-top: -35px;
}
.numbers {
  width: 100%;

  border-right: 1px solid rgb(177, 173, 175);
}
#numbersTwo {
  margin-left: 50px;
}
#numbersThree {
  margin-left: 50px;
  border: none;
}
button {
  background-color: hsl(176, 50%, 47%);
  width: auto;
  height: 30px;
  border-radius: 18px;
  padding: 8px 15px 8px 15px;
  border: none;
  text-align: center;
}
#bookmarked {
  display: flex;
  align-items: center;
}
#bookmarked img {
  margin-right: -40px;
  height: 32px;
  z-index: 1;
}
#bookmarked button {
  padding-left: 30px;
  background-color: rgb(177, 173, 175);
}
.childsHeading {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  margin-top: 20px;
}
.childs {
  padding: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
  border: solid rgb(177, 173, 175) 1px;
  border-radius: 10px;
}
span {
  font-weight: lighter;
  font-size: 16;
  color: darkgray;
}
.childsHeading p {
  color: hsl(176, 50%, 47%);
}
p {
  color: darkgray;
}
#bottomBtn {
  background-color: rgb(177, 173, 175);
}
#childThree {
  opacity: 0.5;
}

@media screen and (max-width: 450px) {
  #firstContainer {
    background-image: url(/images/image-hero-desktop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 150px;
    display: inline-flex;
  }
  #secondContainer {
    justify-self: center;

    width: 300px;
    margin-left: 20%;
    padding: 0px;
    margin-top: -50px;
    position: absolute;
    background-color: dark;
    z-index: 1000;
  }

  #sectionOneBtns {
    display: flex;
    flex-direction: column;

    margin: 10px 55px;
  }
  button {
    width: 150px;
  }
  #sectionOne {
    height: auto;
  }
  #sectionTwo {
    margin-bottom: 10px;
    padding: 20px;
    justify-content: center;
    background-color: white;
    height: auto;
    padding-bottom: 10px;
  }
  #calculations {
    display: flex;
    flex-direction: column;
  }
  .numbers {
    border: none;
    text-align: center;
    width: 50%;
    margin-left: 20%;
    margin-bottom: 10px;
  }
  #numbersTwo {
    border-bottom: 1px solid rgb(177, 173, 175);
  }
  #numbersOne {
    border-bottom: 1px solid rgb(177, 173, 175);
  }
  .childsHeading {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .childsHeading button {
    text-align: center;
    margin-left: 20%;
  }
  #navBar {
    color: white;
    font-size: 15px;
    margin-left: -550px;
  }
  li {
    display: inline-flex;
    margin-right: 8px;
  }
  #logoOne {
    font-size: 10px;
  }
  #mastercraftLogo {
    margin-left: 120px;
    margin-top: -20px;
    width: 30px;
    height: 30px;
  }
}
